header {
    display: grid;
    justify-items: center;
    
}
 
h1 {
    font-size: 6rem; 
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;  
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
}

article section {
    border-bottom: 1px solid  rgb(184, 17, 11);
}

nav > a {
    color: rgb(255, 254, 254);
    background-color: rgb(238, 17, 17);
    border: 3px solid darkgreen;
    border-radius: 5px;
    padding: 5px 15px;
}

nav > a:hover {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function:linear;
    background-color: rgb(255, 255, 255);
    opacity: .9;
}

img {
    border-radius: 50%;
}

a:link {
    color:darkgreen;
}

nav > a:visited {
    color:rgb(250, 250, 255);
}

nav > a:link {
    color:rgb(255, 254, 254);
}

nav > a:active {
    background-color:yellow;
    color:white;
}

body {
    background-color: darkgreen;
    
}

.pizzatransition {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.pizzatransition:hover {
    width: 700px;
    height: 700px;
}

@media only screen and (min-width: 600px) {
    nav {
        grid-column-gap: 50px;
    }

    body {
        background-color: blue;
    }
}

@media only screen and (min-width: 950px) {
    body {
        background-color: greenyellow;
        animation-name: flash;
        animation-duration: 3s;
        animation-iteration-count: infinite; 
    }

    @keyframes flash {
        0%  {background:fuchsia;}
        10% {background:orangered;}
        20% {background:greenyellow;}
        30% {background:blue;}
        40% {background:white;}
        50% {background:green;}
        60% {background:teal;}
        70% {background:black;}
        80% {background:turquoise;}
        90% {background:red;}
        100% {background:purple;}
    }
}
