header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

header nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
}

header nav a {
  color: #FFFFFF;
  background-color: #ee1111;
  border: 3px solid darkgreen;
  border-radius: 5px;
  padding: 5px 15px;
}

header nav a:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: #FFFFFF;
  opacity: .9;
}

header nav a:visited {
  color: #FFFFFF;
}

header nav a:link {
  color: #FFFFFF;
}

header nav a:active {
  background-color: yellow;
  color: #FFFFFF;
}

@media only screen and (min-width: 600px) {
  header nav {
    grid-column-gap: 50px;
  }
}

footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

article section {
  border-bottom: 1px solid #b8110b;
}

img {
  border-radius: 50%;
}

a:link {
  color: darkgreen;
}

body {
  background-color: darkgreen;
}

.pizzatransition {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.pizzatransition:hover {
  width: 700px;
  height: 700px;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}

@media only screen and (min-width: 950px) {
  body {
    background-color: greenyellow;
    -webkit-animation-name: flash;
            animation-name: flash;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes flash {
    0% {
      background: fuchsia;
    }
    10% {
      background: orangered;
    }
    20% {
      background: greenyellow;
    }
    30% {
      background: blue;
    }
    40% {
      background: #FFFFFF;
    }
    50% {
      background: green;
    }
    60% {
      background: teal;
    }
    70% {
      background: black;
    }
    80% {
      background: turquoise;
    }
    90% {
      background: red;
    }
    100% {
      background: purple;
    }
  }
  @keyframes flash {
    0% {
      background: fuchsia;
    }
    10% {
      background: orangered;
    }
    20% {
      background: greenyellow;
    }
    30% {
      background: blue;
    }
    40% {
      background: #FFFFFF;
    }
    50% {
      background: green;
    }
    60% {
      background: teal;
    }
    70% {
      background: black;
    }
    80% {
      background: turquoise;
    }
    90% {
      background: red;
    }
    100% {
      background: purple;
    }
  }
}
/*# sourceMappingURL=style.css.map */